\documentclass[letterpaper,12pt]{letter}
\usepackage{triumfletter17}
\begin{document}
\extension{6407}
\email{e4hill}
%\address{   }
\signature{Smelly Ewan Hill\\
           Friend of Diana\\
           \vspace{1ex}
           Also friend of Francesco,  \\
           Department of Physics and Astronomy\\
           University of Victoria}
\re{Your Christmas ``Present''}

\begin{letter}{Diana Castaneda\\Communications Department\\TRIUMF}
\opening{Dear awesomist,}

Happy holidays.  I hope you had a great break.  With any luck your little one is now fully potty trained and you have re-discovered the joy of sleep.  I have finished modifying the \LaTeX\ template for the TRIUMF letterhead.  It doesn't fully match the microsoft word one but it is pretty close.  Some of the text in the bottom of the page is placed slightly differently but things are pretty much the same.  Some of the text, when printed, also seems to have displaced a bit (the logo isn't the same distance from the top and left) but it looks okay on my pdf reader and I can't be bothered to debug the printing.  I'll share the files with you after you have found this printed out piece of paper because if I email them to you now (Dec 22) then it would be too early for your work related surprise.

And now some text about Sherlock Holmes taken from Wikipedia....

Sherlock Holmes is a fictional private detective created by British author Sir Arthur Conan Doyle. Known as a "consulting detective" in the stories, Holmes is known for his proficiency with observation, forensic science, and logical reasoning that borders on the fantastic, which he employs when investigating cases for a wide variety of clients, including Scotland Yard.

First appearing in print in 1887 (in A Study in Scarlet), the character's popularity became very widespread with the first series of short stories in The Strand Magazine, beginning with "A Scandal in Bohemia" in 1891; additional tales appeared from then until 1927, eventually totalling four novels and 56 short stories. All but one are set in the Victorian or Edwardian eras, between about 1880 and 1914. Most are narrated by the character of Holmes's friend and biographer Dr. Watson, who usually accompanies Holmes during his investigations and often shares quarters with him at the address of 221B Baker Street, London, where many of the stories begin.

Though not the first fictional detective, Sherlock Holmes is arguably the best known, with Guinness World Records listing him as the "most portrayed movie character" in history. Holmes's popularity and fame are such that many have believed him to be not a fictional character but a real individual; numerous literary and fan societies have been founded that pretend to operate on this principle. Widely considered a British cultural icon, the character and stories have had a profound and lasting effect on mystery writing and popular culture as a whole, with the original tales as well as thousands written by authors other than Conan Doyle being adapted into stage and radio plays, television, films, video games, and other media for over one hundred years.


Edgar Allan Poe's C. Auguste Dupin is generally acknowledged as the first detective in fiction and served as the prototype for many that were created later, including Holmes. Conan Doyle once wrote, "Each is a root from which a whole literature has developed... Where was the detective story until Poe breathed the breath of life into it?" Similarly, the stories of Émile Gaboriau's Monsieur Lecoq were extremely popular at the time Conan Doyle began writing Holmes, and Holmes' speech and behaviour sometimes follow that of Lecoq. Both Dupin and Lecoq are referenced at the beginning of A Study in Scarlet.

Conan Doyle repeatedly said that Holmes was inspired by the real-life figure of Joseph Bell, a surgeon at the Royal Infirmary of Edinburgh, whom Doyle met in 1877 and had worked for as a clerk. Like Holmes, Bell was noted for drawing broad conclusions from minute observations. However, he later wrote to Doyle: "You are yourself Sherlock Holmes and well you know it". Sir Henry Littlejohn, Chair of Medical Jurisprudence at the University of Edinburgh Medical School, is also cited as an inspiration for Holmes. Littlejohn, who was also Police Surgeon and Medical Officer of Health in Edinburgh, provided Doyle with a link between medical investigation and the detection of crime.

Other inspirations have been considered. One is thought to be Francis "Tanky" Smith, a policeman and master of disguise who went on to become Leicester's first private detective. Another might be Maximilien Heller, by French author Henry Cauvain. It is not known if Conan Doyle read Maximilien Heller, but in this 1871 novel (sixteen years before the first adventure of Sherlock Holmes), Henry Cauvain imagined a depressed, anti-social, polymath, cat-loving, and opium-smoking Paris-based detective.


And now for part of the script from Despicable Me.

Gru walks into the living room carrying his 
Starbucks
and a 
muffin.  He goes to sit on the couch and sees his dog KYLE, a 
cross between a piranha and a pit-bull, SNORING soundly while 
lying in the middle of the sofa.  Gru frowns. 
Gru uses a foot to roll Kyle over.  Gru sits down to enjoy 
his coffee and muffin.  He just turns on the TV when--
4
DING-DONG!  Gru grimaces and gets up from the table.  He 
walks to the front door to see who it is.  
GRU
Oh, you've got to be pulling on my 
leg!
INT: GRU’S LAIR - MOMENTS LATER
Gru arrives at the door, holding a club in his free hand.  He 
hears a little girl’s voice on the other side. 
VOICE (O.S.)
Helloooooo?
Cookies for sale!
Gru stops and looks through his front door peephole, 
revealing--
MARGO, EDITH and AGNES.  Three little girls carrying boxes of 
MISS HATTIE’S COOKIES.  Agnes holds a RAGGED STUFFED UNICORN.  
She’s never without it.
GRU
Go away.  I’m not home.
INTERCUT with Margo and the other girls on the doorstep.
MARGO
Yes you are, I heard you.  
GRU
(like a recorded message)
No, you didn’t...this...is a 
recording. 
MARGO
No it isn’t.
GRU
Yes it is.  Watch this-- “Leave a 
message--BEEP.
”
EXT: GRU’S HOUSE - SAME
Edith kicks the door.  There’s a MUFFLED “OW” from the other 
side of the door.  The girls walk off.  Agnes waves.
AGNES
Goodbye recorded message!
MARGO (O.S.)
Agnes, come on!
5
INT: GRU'S LAIR - SAME
Gru walks back into the living room.  Kyle is no where to be 
found!  He looks around and suddenly -- CHOMP!  Kyle has 
devoured half of Gru’s arm, along with his muffin.
GRU
Kyle!  Bad dog!  No, no, no!  Sit! 
My muffin!
He tries to shake the dog off when suddenly the TV flashes:
“INCOMING CALL.” It is Dr. Nefario on television.  Gru stops 
dead in his tracks, with Kyle attached to his arm.
DR. NEFARIO
Gru.
GRU
Ah, Dr. Nefario. 
DR. NEFARIO
I know what you must be feeling. I 
too have experienced great 
disappointment.  But in my eyes, 
you will always be one of the 
greats.
GRU
What? What happened?
DR. NEFARIO
It’s all over the news.  Some 
fella
just stole a pyramid.  They’re 
saying he makes all other villains 
look...lame.
Gru attempts to process this.  Is this it?  The end of his 
career?  Is his run on top over?
Gru somberly replies.
GRU
Assemble the minions.
Gru shakes Kyle off his arm and runs to his Rhino chair.  
Then he presses a button and immediately the room converts 
into an elevator.  The cannon drops from the ceiling and 
turns into a pod that drops Gru down a shaft.
6
INT: GRU’S UNDERGROUND LAB - DAY
Gru rides a moving platform down to his underground lab.  He 
yells at a group of MINIONS, one-eyed creatures that are 
working.  
GRU
Minions assemble!
A minion who was about to hammer a nail being held by a 
fellow minion stops in his tracks.  He alerts the others and 
we voyage downwards into the lab, peeking in on other rooms 
populated by minions.  In one room, a group of minions are 
doing a form of Minion-aerobics. 
As we continue to pan through the lab, we stop on two minions 
who giggle as they watch the bubbles gurgle up in a water 
cooler.  They imitate the bubbles.
The minions stop what they are doing and race down to hear 
what Gru has to say.
INT: GRU’S UNDERGROUND LAB - NIGHT
All of Gru’s minions are gathered together for a big 
presentation.  Gru takes the stage and they explode with 
cheers and applause and whistles. 
GRU 
Looking good, Kevin!
Gru walks on stage.
GRU
How’s the family? Good? Alright. 
That’s my Billy Boy!  What up, 
Larry?
The minions going even crazier, screaming like girls during 
Beatlemania.
MINIONS
Gruooooo!
 Gruooooooo
!!!
GRU
Hello, everybody.  Alright!
Gru tries to get them to settle down.
GRU
Simmer down.  Simmer down!
A minion screams.
7
GRU
Thank you, okay.
The minions quiet down.
\closing{Sincerely,}
\end{letter}
\end{document}
